<% if ideas %>
  <div class="row">
    <% ideas.each do |idea| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body linkbox">
              <%= link_to '', idea %>
              <p class="item-title"><%= simple_format h idea.content %></p>
            </div>
            <% if logged_in? %>
            <div class=" panel-footer buttons text-center" role="group">
              <%= render 'favorites/fav_button', idea: idea %>
            </div>
            <% end %>
          </div>

        </div>
      </div>

    <% end %>
  </div>
  <%= paginate ideas %>
<% end %>
