<% if ideas %>
  <div class="row">
    <% ideas.each do |idea| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
           <!--%w( #00FFFF #ADFF2F ).sample-->
            <%= render 'ideas/idea', idea: idea, color: %w( #AFEEEE #EEE8AA #00FFFF #ADFF2F ).sample %>
        </div>
      </div>

    <% end %>
  </div>
  <%= paginate ideas %>
<% else %>
<h3>投稿アイデアは0です. ぜひ素敵なアイデアを投稿してください！</h3>
<% end %>
