<footer>
  <% current_time = Time.current %>
  <!--<div class="date"><h1><%= num_to_k current_time.strftime("%m").to_i %>月<%= num_to_k current_time.strftime("%d").to_i %>日</h1></div>-->
  <img src="/blackboard-eraser.png"><br>
  <div class="text-center text-muted">© 2017 IdeaBoard.</div>
</footer>
